In [13]:
a = int(input())
b = int(input())
print(sum(a,b))
print(sub(a,b))
print(div(a,b))
print(mod(a,b))

12
2
14
10
6.0
0

In [26]:
a = 2 
b = 4 
div (a ,b)

0.5

In [1]:
# 1st one sum and sub 
def wkdefhikfh(a,b):
    sum = a + b 
    

    return sum

In [3]:
def squre(n):
    sre = n ** 2 
    return sre

In [10]:
squre(7)

49

In [8]:
def sub(a,b):
    sub = a - b 
    return sub

In [9]:
# 2nd one multi 
def multi (a ,b):
    multiple = a * b 
    return multiple

In [25]:
# 3nd one 
def div (a ,b):
    division = a / b 
    return  division

In [11]:
# 4th one 
def mod (a ,b):
    mod = a % b 
    
    return mod

In [1]:
n = 100
fact =  1 
for i in range(1,n+1):
    fact = fact * i 
print(fact)

120

In [2]:
def multi(n):
    fact =  1 
    for i in range(1,n+1):
        fact = fact * i 
    return fact

In [6]:
multi(10)
multi(6)
multi(7)

5040

In [11]:
squre(10)

100

In [ ]:
a= int(input())
b = int(input())
c = int(input())
avg = a+b+c // 3
print("the avg number is ",avg)

In [8]:
def avg(a,b,c):
    avg =( a+ b + c) // 3 
    return avg

In [10]:
f= int(input())
g = int(input())

h = int(input())
avg(f,g,h)

4
5
6

5

Palindrome number

In [2]:
n = int(input())  
check = n 
rev = 0 
while (n != 0 ):
    abc = n % 10 # it will store all the digit one by one 
    rev = rev * 10 + abc
    n = n // 10 
if rev == check:
    print(True)
else:
    print(False)

121
True

In [3]:
def ifpolidrom(n):
    check = n 
    rev = 0 
    while(n!= 0):
        dig = n %10 
        rev = rev * 10 + dig 
        n = n // 10 
    if (check == rev):
        return True 
    else:
        return False

In [5]:
n = int(input())
ifpolidrom(n)

121

True

In [4]:
#Sum of even & odd
num = 9

if num < 0:
    print("Enter a positive no")
else:
    sum = 0
    while(num > 0):
        sum += num
        num -= 1
print("sum is", sum)

sum is 45

In [9]:
for i in range(100):
    print()
    print(i , end = " ")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# of even & odd
num = 9

if num < 0:
    print("Emnter a positive no")
else:
    sum = 0
    while(num > 0):
        sum += num
        num -= 1
print("sum is", sum)

In [ ]:
a= int(input())
b = int(input())
c = int(input())
avg = a+b+c // 3
print("the avg number is ",avg)

In [14]:
c

In [15]:
avg(10,20,30)

20

In [7]:
a= int(input())
b = int(input())
c = int(input())
avg = a+b+c // 3
print("the avg number is ",avg)

4
5
6
the avg number is  11

In [8]:
sum(4,5)

9